body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:lightgrey;
}

.wrapper{
    display: flex;
    justify-content: center;
    max-width: 800px;
    min-width: 80vw;
    min-height: 100vh;
    background-color: white;
    
    
}

header {
    display: grid;
    height:100vh;
    width:80vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr 1fr 1fr;
	grid-gap: 1 1 ;
}

.headerLeft {
    grid-area: 1 / 1 / 3 / 4;
    background-color: lightblue;

}

.headerRightTop {
    grid-area: 1 / 4 / 2 / 7;
    background-color: orangered;
}

.headerRightBottom {
	grid-area: 2 / 4 / 3 / 7;
    background-color: orange;
}

.headerNavigation {
    grid-area: 3 / 1 / 4 / 7;
    background-color: blue;
}